<h1>Insert Data User</h1>
<form action="/users/create" method="post">
    <input name="username" type="text" placeholder="Username">
    <input name="email" type="email" placeholder="Email">
    <input name="bio" type="text" placeholder="Bio">
    <button type="submit">Submit</button>
</form>