<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%= yield %>
    <script>
        let input_hashtag = document.getElementById('input_hashtag');
        input_hashtag.addEventListener('keyup',addthis);

        function addthis() {
            b = input_hashtag.value.replace('#',''); 
            input_hashtag.value = '#'+b
            
            if (input_hashtag.value.indexOf(' ')){
                input_hashtag.value = input_hashtag.value.replace(' ','#');
            }
        }
    </script>
</body>
</html>